.heading {
    color: #259888;
}

.channelBox {
    width: 200px;
    padding: 2px;
}

.w100 {
    width: 100%;
}

.table-bootstrap-wrapper {
    overflow: auto;
}

.table-bootstrap {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-bootstrap > thead > tr > th,
.table-bootstrap > tbody > tr > th,
.table-bootstrap > tfoot > tr > th,
.table-bootstrap > thead > tr > td,
.table-bootstrap > tbody > tr > td,
.table-bootstrap > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-bootstrap > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table-bootstrap > caption + thead > tr:first-child > th,
.table-bootstrap > colgroup + thead > tr:first-child > th,
.table-bootstrap > thead:first-child > tr:first-child > th,
.table-bootstrap > caption + thead > tr:first-child > td,
.table-bootstrap > colgroup + thead > tr:first-child > td,
.table-bootstrap > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table-bootstrap > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table-bootstrap .table-bootstrap {
    background-color: #fff;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-bootstrap > thead > tr > th,
.table-bootstrap > tbody > tr > th,
.table-bootstrap > tfoot > tr > th,
.table-bootstrap > thead > tr > td,
.table-bootstrap > tbody > tr > td,
.table-bootstrap > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-bootstrap > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table-bootstrap > caption + thead > tr:first-child > th,
.table-bootstrap > colgroup + thead > tr:first-child > th,
.table-bootstrap > thead:first-child > tr:first-child > th,
.table-bootstrap > caption + thead > tr:first-child > td,
.table-bootstrap > colgroup + thead > tr:first-child > td,
.table-bootstrap > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table-bootstrap > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table-bootstrap .table-bootstrap {
    background-color: #fff;
}

.table-bootstrap > thead > tr > td.success,
.table-bootstrap > tbody > tr > td.success,
.table-bootstrap > tfoot > tr > td.success,
.table-bootstrap > thead > tr > th.success,
.table-bootstrap > tbody > tr > th.success,
.table-bootstrap > tfoot > tr > th.success,
.table-bootstrap > thead > tr.success > td,
.table-bootstrap > tbody > tr.success > td,
.table-bootstrap > tfoot > tr.success > td,
.table-bootstrap > thead > tr.success > th,
.table-bootstrap > tbody > tr.success > th,
.table-bootstrap > tfoot > tr.success > th {
    background-color: #dff0d8;
}

.table-bootstrap > thead > tr > td.info,
.table-bootstrap > tbody > tr > td.info,
.table-bootstrap > tfoot > tr > td.info,
.table-bootstrap > thead > tr > th.info,
.table-bootstrap > tbody > tr > th.info,
.table-bootstrap > tfoot > tr > th.info,
.table-bootstrap > thead > tr.info > td,
.table-bootstrap > tbody > tr.info > td,
.table-bootstrap > tfoot > tr.info > td,
.table-bootstrap > thead > tr.info > th,
.table-bootstrap > tbody > tr.info > th,
.table-bootstrap > tfoot > tr.info > th {
    background-color: #d9edf7;
}

.table-bootstrap > thead > tr > td.warning,
.table-bootstrap > tbody > tr > td.warning,
.table-bootstrap > tfoot > tr > td.warning,
.table-bootstrap > thead > tr > th.warning,
.table-bootstrap > tbody > tr > th.warning,
.table-bootstrap > tfoot > tr > th.warning,
.table-bootstrap > thead > tr.warning > td,
.table-bootstrap > tbody > tr.warning > td,
.table-bootstrap > tfoot > tr.warning > td,
.table-bootstrap > thead > tr.warning > th,
.table-bootstrap > tbody > tr.warning > th,
.table-bootstrap > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

.table-bootstrap > thead > tr > td.danger,
.table-bootstrap > tbody > tr > td.danger,
.table-bootstrap > tfoot > tr > td.danger,
.table-bootstrap > thead > tr > th.danger,
.table-bootstrap > tbody > tr > th.danger,
.table-bootstrap > tfoot > tr > th.danger,
.table-bootstrap > thead > tr.danger > td,
.table-bootstrap > tbody > tr.danger > td,
.table-bootstrap > tfoot > tr.danger > td,
.table-bootstrap > thead > tr.danger > th,
.table-bootstrap > tbody > tr.danger > th,
.table-bootstrap > tfoot > tr.danger > th {
    background-color: #f2dede;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 5px 5px 25px 20px;
  	display: inline-block;
  	position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}

.round{
  	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -40px;
	right: auto;
  	top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -20px;
	right: auto;
  	top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -40px;
	right: auto;
  	top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -20px;
	right: auto;
  	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  	right: auto;
  	top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  	right: auto;
  	top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  	right: auto;
  	top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  	right: auto;
  	top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -40px;
  	top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -20px;
  	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -40px;
  	top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -20px;
  	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  	padding: 1em;
	text-align: left;
  	line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  	-webkit-margin-before: 0em;
  	-webkit-margin-after: 0em;
}

.talk-bubble.lightblue {
	background-color: lightblue;
}

.tri-right.lightblue.left-top:after{
	border-color: lightblue transparent transparent transparent;
}

.tri-right.lightblue.left-in:after{
	border-color: lightblue lightyellow transparent transparent;
}

.tri-right.lightblue.btm-left:after{
	border-color: transparent transparent transparent lightblue;
}

.tri-right.lightblue.btm-left-in:after{
	border-color: lightblue transparent transparent lightblue;
}

.tri-right.lightblue.btm-right-in:after{
	border-color: lightblue lightblue transparent transparent;
}

.tri-right.lightblue.btm-right:after{
	border-color: lightblue lightblue transparent transparent;
}

.tri-right.lightblue.right-in:after{
	border-color: lightblue transparent transparent lightblue;
}

.tri-right.lightblue.right-top:after{
	border-color: lightblue transparent transparent transparent;
}